# main service
/backend/server/.env

# movie service
/backend/services/movie/.env
/backend/services/movie/node_modules

# hall service
/backend/services/hall/.env
/backend/services/hall/env
*__pycache__

# ticket service
/backend/services/ticket/.env